
<h2 class ="h2">Editing proparty</h2>

<%= render "form", proparty: @proparty %>

<br>

<div>
  <%= link_to "Show this proparty", @proparty %> |
  <%= link_to "Back to proparties", proparties_path %>
</div>
