<% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@proparty.errors.count, "error") %> prohibited this proparty from being saved:</h2>

      <ul>
        <% @proparty.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>